#container{
	text-align: center;
	margin:auto;
	max-width: 960px;
	clear:both;
}
header{
	float:left;
}
nav{
	padding-bottom:30px;
}
ul li {
	list-style: none;
	text-align: justify;
}
.clear{
	clear:both;
}
.done-true{
	color:gray;
	text-decoration:line-through;
}
input .ng-invalid-maxlength{
	border:3px solid red;
}
form{
	padding-left:20px;
}
.btn{
	margin-top: -15px;

}

#todos{
	float:left;
}
#vaults{
	float:left;
}
#notes{
	float:left;
}