<!DOCTYPE html>
<html ng-app=dashboardApp>
  <head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel=stylesheet media=screen>
    <link href="css/main.css" rel="stylesheet" media="screen">
  	 <style>
    [ng-cloak] {
        display: none;
      }
    </style>
  </head>
  <body ng-controller=dashCtrl ng-cloak>

	<header>{{header}}</header>
	<div class=clear></div>
	<section>

		<div id=todos class="ui-widget-content" style="width:300px;">
			<h3>TODO List</h3>
			<iframe src="todo.html" scrolling=auto style="height:400px;" ></iframe>
		</div>

		<div id=vaults class="ui-widget-content" style="width:300px">
			<h3>Vault [Secure it]</h3>
			<iframe src="vault.html" id=vaultbody scrolling=auto style="height:400px;" ></iframe>
		</div>

    <div id=notes class="ui-widget-content" style="widht:300px">
      <h3>Notes</h3>
      <iframe src="notes.html" id=vaultbody scrolling=auto style="height:400px;" ></iframe>
    </div>



	</section>








	<footer>
	</footer>
    <!--scipts-->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/dashboard.js"></script>       
    <script src="js/bootstrap.min.js"></script>
    <script>
    $(function() {
    	$( "#todos" ).draggable();      
    	$( "#vaults" ).draggable();
      $("#notes").draggable();

      $( "#todos" ).resizable();
      $( "#vaults" ).resizable();
      $("#notes").resizable();
  	});
    </script>
  </body>
</html>
