<!DOCTYPE html>
<html ng-app=todoApp>
  <head>
    <title>TODO List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/main.css" rel="stylesheet" media="screen">	
	<style>
	[ng-cloak] {
      display: none;
    }
	</style>
  </head>
  <body ng-cloak>

	<header></header>

	<article ng-controller="todoCtrl">
		<!--h3>{{username}}'s Task List</h3-->
		<p>
			Remaining <strong>{{remaining()}}</strong> of <strong>{{tasks.length}}</strong> | <a href ng-click="archive()">archive </a> | 
		</p>
		<form>
			<label>Find task:</label>
			<input type=text class="input-medium search-query" ng-model="searchtask" />
		</form>
		<ul class="tasklist" ng-repeat="task in tasks|filter:searchtask">
			<li><input type="checkbox" ng-model="task.done"> {{task.text}}</li>			
		</ul>
		<form name=taskForm>
			<input type=text class=input-medium ng-model="newTask.text" ng-maxlength="125" />
			<button class="btn btn-primary" ng-click="addTask(newTask)" ng-disabled="!newTask.text">add</button>
			
		</form>
	</article>






	<footer>
	</footer>

		<!--scipts-->
		<script src="http://code.jquery.com/jquery.js"></script>
    	<script src="js/angular.min.js"></script>
		<script src="js/todo.js"></script>       
    	<script src="js/bootstrap.min.js"></script>
  </body>
</html>
