<!DOCTYPE html>
<html ng-app=vaultApp>
  <head>
    <title>Secret Vault</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/main.css" rel="stylesheet" media="screen">
    <style>
  [ng-cloak] {
      display: none;
    }
  </style>	
  </head>
  <body ng-controller="vaultCtrl" ng-cloak>

	<header></header>

  <div class=clear></div>
	<article >
    <form>
      <label>Find: </label>
      <input type="text" class="input-medium search-query" ng-model="searchcred" style="width:230px;"/>
    </form>

		<ul ng-repeat="cred in creds | filter:searchcred">
      <li>
        {{cred.id}}
        <br />
        URL: <span><a target=_blank href="http://{{cred.url}}">{{cred.url}}</a></span>  <br />       
        Host:<span>{{cred.host}}</span><br />
        Username: <span> {{cred.username}}</span> <br /> 
        Password: <span>{{cred.password}}</span><br />
        FTP_USER: <span>{{cred.ftp_username}}</span><br />
        FTP_PASS: <span>{{cred.ftp_password}}</span><br />
        <hr />
      </li>
    </ul>
	</article>






	<footer>
	</footer>

      <!--scipts-->
      <script src="http://code.jquery.com/jquery.js"></script>
      <script src="js/angular.min.js"></script>
      <script src="js/vault.js"></script>       
    	<script src="js/bootstrap.min.js"></script>
  </body>
</html>
